header {
  font-family: "Montserrat", sans-serif;
  background-color: #dedede;
  text-align: center;
  grid-area: header;
  width: 100%;
  margin: auto;
  align-items: center;

  div {
    justify-content: center;
    margin: auto;
    text-align: center;

    nav {
      height: 10vh;
      width: 100%;
      ul {
        list-style: none;
        display: flex;
        margin: auto;
        justify-content: center;
        li {
          margin-top: auto;
          margin-right: auto;
          margin-left: auto;
          margin: auto;
          justify-content: space-between;
          a {
            text-decoration: none;
            color: #1b1212;

            img {
              width: 2rem;
            }

            &:hover {
              color: rgb(76, 141, 167);
            }
          }
        }
      }
    }
  }
}
